.highlighted {
	font-size: 5rem;
	padding: 5px 5px 5px 5px;
	/*background-color:#b2dfdb;*/
}

p {
	font-weight: 600;
	font-size: 2rem;
	padding: 5px 5px 5px 5px;
}
.container {
	margin-top: 0.5%;
}
.Links {
	display: flex;
	justify-content: space-evenly;
}

.circularPhoto {
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-image: url(./assets/profile_pic.jpg);
	background-size: cover;
	/*background-size: contain;*/
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
	box-shadow: 8px 8px 10px #aaa;
	border: 15px solid #000000;
	/*transform: rotate(90deg);*/
	background-position-x: 1px;
	background-position-y: -90px;
	/*background-position: 10px 20px; /*#10px from left 20px from top*/
	/*margin-top: 40px;*/
	/*float: left;*/
}
h3 {
	text-align: center;
	margin-top: -16px;
	font-weight: bold;
	font-size: 50px;
}
/* .collapse {
  background-color: #00bcd4;
} */
p {
	font-size: 20px;
	font-family: Georgia, serif;
	font-weight: 300;
	line-height: 1.5;
}
.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8,
.project-9,
.project-10,
.project-11 {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 41%;
	/*padding: 24px;*/
	border-radius: 20px;
	background-color: orange;
	color: white;
	margin: 10px;
}

.project-2 {
	background-color: #17a2b8;
}
.project-3 {
	background-color: #dc3545;
}
.project-4 {
	background-color: #28a745;
}
.project-5 {
	background-color: #6f42c1;
}
.project-6 {
	background-color: #17a2b8;
}
.project-7 {
	background-color: #00008b;
}
.project-8 {
	background-color: #007bff;
}
.project-9 {
	background-color: #6c757d;
}
.project-10 {
	background-color: #343a40;
}

.project-11 {
	background-color: #17a2b8;
}
.project-link {
	color: white;
	margin-left: 7rem;
}

header a:hover {
	background-color: orange;
	border-radius: 0.5rem;

	text-decoration: none;
	/*box-shadow: 0 5px 0 darkred;*/
	padding: 0.8em 0.9em;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.fa-code {
	padding: 0;
	margin: 0;
}
.icons {
	display: flex;
	justify-content: center;
}

.submit {
	background-color: green;
	cursor: pointer;
	/*color: white;*/
	border-radius: 3px;
	/*border: 2px solid #0099CC;*/
}

.disableSubmit {
	background-color: red;
	/*color: white;*/
	border-radius: 3px;
}
input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	color: #000000;
}
textarea {
	width: 100%;
}
button {
	height: 40px;
	width: 100px;
	border-radius: 5px;
	outline: none;
	border: none;
}

.kilimanjaro {
	margin: 0rem;
	width: 100%;
	/*height: 70rem;*/
	background-repeat: no-repeat;
	background-image: url(./assets/kili_1.jpg);
	background-size: 100% 100%;
}

.jumbotron {
	padding: 4rem;
}
.text {
	/*width: 80%; /*can be in percentage also.*/
	/*height: auto;*/
	margin: -0.6rem auto;
	padding: 70px;
	/*position: relative;*/
	text-align: center;
}
.text p {
	color: #000000;
}

/*jumbotron text-center*/
li {
	font-weight: bold;
	color: white;
	list-style: none;
}
h4 {
	font-size: 3rem;
	color: #fff;
}
.btn-primary:hover {
	background-color: orange;
	color: #000000;
}

.icons {
	display: flex;
	/*justify-content: space-between;*/
	font-size: 1rem;
	align-items: center;
	margin: 4rem;
	border: 2px solid black;
	background-color: orange;
	width: 100%;
	margin: 0 auto;
}
.fa {
	color: orange;
}
::placeholder {
	color: #000000;
}
h6 {
	color: red;
}

header {
	height: 4rem;
	line-height: 3rem;
}
a.project-link {
	text-decoration: none;
}
a:hover {
	color: #fff;
}

.about a:hover {
	color: blue;
}
.footer {
	position: absolute;

	width: 100%;
	height: 75px;
	/* margin: 10px; */
}
.headerStyle {
	display: flex;
	justify-content: space-evenly;
	background: #000000;
	text-align: justify;
	padding: 19px;
}
.linkStyle {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.linkStyle:hover {
	color: orange;
}
nav {
	width: 100%;
	height: 70px;
}
